/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url(/node_modules/magnify/dist/css/magnify.css);
@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -300%); } }

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-150%, -50%) scale(0); } }

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, 200%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@media only screen and (max-width: 37.5em) {
  p {
    font-size: 1.4rem; } }

.main {
  transition: .5s; }

.title__hr {
  width: 1%;
  border-top: 3px solid black;
  margin: 0 auto;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .title__hr {
      width: 3%; } }

*:focus {
  outline: none !important; }

@font-face {
  font-family: Ink;
  src: url(/fonts/inktank.ttf); }

body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #000;
  letter-spacing: 0.1rem;
  background: #fff; }

.general-btn {
  font-size: 1.4rem;
  margin: 1.5rem auto 0;
  border-radius: 25px;
  padding: 8px 24px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  letter-spacing: .08rem;
  outline: none;
  transition: all .5s ease; }
  .general-btn:hover {
    cursor: pointer; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      position: fixed;
      top: 0;
      background: white;
      height: 64px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      height: 50px; } }
  .navigation__wrapper {
    display: flex;
    max-width: 1800px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    transition: all .5s ease-in-out; }
    .navigation__wrapper__scrolled {
      padding-top: 0; }
    @media only screen and (max-width: 56.25em) {
      .navigation__wrapper {
        padding: 0 0 0 25px;
        height: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__wrapper {
        padding-left: 25px;
        padding-right: 25px; } }
  .navigation__logo-container {
    display: flex;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%; }
  .navigation__logo {
    height: 6rem;
    -webkit-filter: invert(100);
    filter: invert(100); }
    .navigation__logo:hover {
      cursor: pointer; }
    .navigation__logo__scrolled {
      -webkit-filter: invert(0);
      filter: invert(0); }
    @media only screen and (max-width: 56.25em) {
      .navigation__logo {
        margin-bottom: 0; } }
    @media only screen and (max-width: 75em) {
      .navigation__logo {
        -webkit-filter: none;
        filter: none; } }
  .navigation__list {
    display: flex;
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
  .navigation__button {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 25px;
    padding: 5px 24px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    letter-spacing: .08rem;
    transition: all .5s ease; }
  .navigation__item {
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    letter-spacing: .15rem;
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 2.2; }
    .navigation__item:hover {
      text-decoration: none;
      color: #e02b0f;
      cursor: pointer; }
  .navigation__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3rem; }
    .navigation__social__icon {
      height: 2.5rem;
      padding: 0 1rem;
      fill: #fff;
      transition: all .5s; }
      .navigation__social__icon:hover {
        fill: #e02b0f; }
  .navigation__nav-scrolled {
    background: #fff;
    border-bottom: 0.5rem solid #000; }
    @media only screen and (max-width: 56.25em) {
      .navigation__nav-scrolled {
        border-bottom: none; } }
  .navigation__links-scrolled {
    color: #000;
    fill: #000; }

.hamburger {
  background-color: transparent;
  height: 64px;
  width: 64px;
  float: right;
  margin-top: .5rem;
  margin-right: 1rem;
  position: fixed;
  top: .5rem;
  right: 0;
  z-index: 5;
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .hamburger {
      display: inline-block;
      margin-top: 0;
      top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .hamburger {
      margin: 0 1rem 0 0;
      width: 50px;
      height: 50px;
      top: 0; } }
  .hamburger_btn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    -webkit-appearance: attachment;
    transition: margin .2s; }
    @media only screen and (max-width: 37.5em) {
      .hamburger_btn {
        width: 50px;
        height: 50px; } }
  .hamburger__span {
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear; }
    @media only screen and (max-width: 56.25em) {
      .hamburger__span {
        background: black;
        height: 1px; } }
    @media only screen and (max-width: 37.5em) {
      .hamburger__span {
        height: 1px;
        width: 35px; } }
    .hamburger__span:before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: white;
      transition: all 0.3s linear; }
    .hamburger__span:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 40%; }
    .hamburger__span:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 49%; }
    .hamburger__span:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 59%; }
  .hamburger.on span:nth-child(1) {
    background: white;
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }
  .hamburger.on span:nth-child(2) {
    background: white;
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }
  .hamburger.on span:nth-child(3) {
    background: white;
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }

.sidenav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #e02b0f;
  padding: 50px 0;
  transform: translateX(100vw);
  transition: .5s; }
  .sidenav__list {
    list-style-type: none;
    color: rgba(39, 39, 39, 0.753);
    letter-spacing: 0.2rem;
    margin: 0 0 0 2rem;
    padding: 0; }
  .sidenav__item {
    color: white;
    font-size: 4rem;
    padding-bottom: .5rem; }
  .sidenav__social {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 5rem; }
    .sidenav__social__icon {
      height: 5rem;
      padding: 0 2rem 0 0;
      fill: #fff; }
  .sidenav__logo-container__logo {
    width: 28rem;
    padding-top: 3rem; }

.store-link-sidenav:hover {
  text-decoration: none;
  color: #fff; }

.no-scroll {
  overflow: hidden; }

.main-transform-x {
  transform: translateX(-100vw); }

.sidenav-transform-x {
  transform: translateX(0); }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/hero-background-redhead.jpg);
  min-height: 100vh;
  color: #fff;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      margin-top: 7rem;
      min-height: 94vh; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      min-height: 100vh;
      margin-top: 0;
      border: none; } }
  .hero__hero-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 7vh; }
  .hero__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 9rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media only screen and (max-width: 37.5em) {
      .hero__title {
        font-size: 5.5rem; } }
  .hero__sub-title {
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.13rem; }
  .hero__button {
    font-size: 1.4rem;
    margin: 1.5rem auto 0;
    border-radius: 25px;
    padding: 8px 24px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    letter-spacing: .08rem;
    transition: all .5s ease; }
    .hero__button:hover {
      background: #fff;
      color: #000; }
    .hero__button:active {
      outline: none; }
    .hero__button--store {
      background: #e02b0f;
      color: #fff;
      border: 2px solid #e02b0f; }
      .hero__button--store:hover {
        background: #fff;
        color: #e02b0f;
        border: 2px solid #fff;
        text-decoration: none; }

.services {
  padding: 30px 0 80px;
  display: flex;
  flex-direction: column; }
  .services__title {
    text-align: center; }
  .services .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .services__item {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 0 4rem; }
    @media only screen and (max-width: 37.5em) {
      .services__item {
        width: 100%;
        margin-bottom: 5rem; } }
  .services__photo {
    border-radius: 50%;
    margin: auto;
    height: 200px;
    width: 200px;
    object-fit: cover; }
    @media only screen and (max-width: 56.25em) {
      .services__photo {
        height: 150px;
        width: 150px; } }
  .services__item-title {
    padding-top: 2rem;
    text-align: center;
    color: #000; }
  .services__text {
    color: #666666;
    padding-top: 1rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .services__text {
        padding-top: .5rem; } }
  .services__btn {
    color: #000;
    border: 2px solid #000; }
    .services__btn:hover {
      cursor: pointer;
      color: #fff;
      background: #000; }
    @media only screen and (max-width: 37.5em) {
      .services__btn {
        margin-top: 1rem; } }

.photos {
  position: relative;
  padding-bottom: 60px; }
  .photos .row {
    padding: 0 4px; }
    @media only screen and (max-width: 37.5em) {
      .photos .row {
        padding: 0 2px; } }
  .photos__column {
    flex: 25%;
    max-width: 25%; }
    @media only screen and (max-width: 56.25em) {
      .photos__column {
        flex: 50%;
        max-width: 50%; } }
  .photos__photo {
    width: 100%;
    padding: 4px; }
    @media only screen and (max-width: 37.5em) {
      .photos__photo {
        padding: 2px; } }
  .photos__gray--container {
    position: absolute;
    top: 0;
    left: 0; }
    .photos__gray--container .row {
      padding: 0 4px; }
      @media only screen and (max-width: 37.5em) {
        .photos__gray--container .row {
          padding: 0 2px; } }
    .photos__gray--container__column {
      flex: 25%;
      max-width: 25%; }
      @media only screen and (max-width: 56.25em) {
        .photos__gray--container__column {
          flex: 50%;
          max-width: 50%; } }
    .photos__gray--container__photo {
      width: 100%;
      padding: 4px;
      opacity: 1;
      transition: opacity 2s ease-in-out; }
      @media only screen and (max-width: 37.5em) {
        .photos__gray--container__photo {
          padding: 2px; } }

.o-fade {
  opacity: 0; }

.parallax {
  min-height: 450px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .parallax {
      min-height: 350px; } }
  .parallax__text {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    text-align: left; }
  .parallax__logo {
    -webkit-filter: invert(100);
    filter: invert(100);
    height: 18rem; }

.about {
  padding: 8rem 0 5rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 7rem 0 1rem; } }
  .about .row {
    padding-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .about .row {
        padding-bottom: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .about .row {
        padding-bottom: 4rem; } }
  .about__image {
    width: 85%;
    margin: auto;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .about__image {
        width: 100%; } }
  .about__header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .about__header {
        font-size: 4rem; } }
  .about__subheader {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #e02b0f;
    text-align: center;
    padding-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .about__subheader {
        font-size: 2.4rem; } }
  .about__text {
    color: #666666;
    text-align: left;
    padding: 0 6rem 2rem; }
    @media only screen and (max-width: 56.25em) {
      .about__text {
        padding: 0 6rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        padding: 0 0 1rem; } }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about__btn-wrapper {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 56.25em) {
      .about__btn-wrapper {
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__btn-wrapper {
        flex-direction: column; } }
  .about__btn--more {
    color: #000;
    border: 2px solid #000;
    margin: inherit; }
    .about__btn--more:hover {
      cursor: pointer;
      color: #fff;
      background: #000; }
    @media only screen and (max-width: 37.5em) {
      .about__btn--more {
        margin: 0 auto 1rem; } }
  .about__btn--consultation {
    color: #fff;
    background: #e02b0f;
    border: 2px solid #e02b0f;
    margin: inherit; }
    .about__btn--consultation:hover {
      cursor: pointer;
      color: #000;
      background: #fff;
      border: 2px solid #e02b0f; }
    @media only screen and (max-width: 37.5em) {
      .about__btn--consultation {
        margin: auto; } }
  .about__background {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }

.request {
  padding: 4rem 0;
  background: url(/img/request-background.png);
  background-size: cover;
  background-position: center;
  color: #000; }
  @media only screen and (max-width: 37.5em) {
    .request {
      background-position: right; } }
  .request__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .request__wrapper {
        flex-direction: column; } }
  .request__tagline {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    letter-spacing: 0; }
    @media only screen and (max-width: 37.5em) {
      .request__tagline {
        margin: 0 auto 1.5rem;
        font-size: 2.5rem; } }
  .request__btn--consultation {
    font-size: 1.6rem;
    margin: inherit;
    outline: none;
    border: 2px solid #000;
    color: #000; }
    .request__btn--consultation:hover {
      cursor: pointer;
      text-decoration: none;
      color: #000;
      transform: scale(1.1); }

.map {
  height: 400px; }
  @media only screen and (max-width: 37.5em) {
    .map {
      height: 300px; } }

#mapMarker {
  background-image: url(/img/map-marker.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer; }

.mapboxgl-popup {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mapboxgl-popup-content {
  padding: 1rem 3rem;
  color: #000;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  border-radius: 2rem;
  color: #666666; }

.mapboxgl-popup-close-button {
  right: 1rem;
  top: .5rem;
  font-size: 1.5rem; }

.mapboxgl-ctrl-bottom-right {
  display: none; }

.art {
  padding: 10rem 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .art {
      padding: 30px 0; } }
  .art__button {
    margin-bottom: 5rem;
    background: #e02b0f;
    color: #fff !important;
    border: 2px solid #e02b0f; }
    .art__button:hover {
      background: transparent;
      color: #000 !important;
      border: 2px solid #000;
      text-decoration: none; }
  .art__title {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 29rem;
    margin-bottom: 1rem;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.1);
    z-index: -1; }
    @media only screen and (max-width: 75em) {
      .art__title {
        top: 16%; } }
    @media only screen and (max-width: 56.25em) {
      .art__title {
        top: 17%; } }
    @media only screen and (max-width: 37.5em) {
      .art__title {
        top: 17%;
        font-size: 24rem; } }
  .art__hr {
    padding-bottom: 3rem; }
  .art__subheader {
    font-family: inherit;
    font-weight: 400;
    color: #000;
    padding: 16rem 3rem 1.5rem;
    text-align: center;
    font-size: 2rem; }
    @media only screen and (max-width: 75em) {
      .art__subheader {
        padding-top: 15rem; } }
    @media only screen and (max-width: 37.5em) {
      .art__subheader {
        padding-top: 18rem; } }
  .art__photo--wrapper {
    height: 45rem; }
  .art__row {
    padding: 4px;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .art__row__container {
      width: 33%;
      padding: 4px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .art__row__container {
          width: 50%; } }
      @media only screen and (max-width: 37.5em) {
        .art__row__container {
          width: 100%; } }
    .art__row__image {
      width: 100%;
      object-fit: cover;
      height: 41rem;
      padding-bottom: 2rem;
      opacity: 1;
      transition: all .5s ease; }
      .art__row__image:hover {
        cursor: pointer;
        opacity: .5; }
    .art__row h4 {
      padding-top: 2rem; }
    .art__row__text {
      font-size: 1.2rem;
      padding: 1rem 4rem;
      color: #666666; }
    .art__row__button {
      border: 2px solid #000;
      color: #fff;
      background: #000;
      margin-bottom: 6rem; }
      .art__row__button:hover {
        background: #e02b0f;
        border: 2px solid #e02b0f;
        text-decoration: none;
        color: #fff; }

.modal-dialog {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important; }

.modal-content {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #ececec !important;
  border: none; }

.art-close {
  margin-right: 2rem;
  font-size: 8rem;
  color: #fff; }

.modal-body {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111; }

.modal-image {
  height: 100%;
  margin: auto;
  object-fit: contain;
  max-width: 100%; }

.art-modal-close {
  z-index: 1; }

.instagram {
  padding: 16rem 0 100px;
  color: #000;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .instagram {
      padding: 80px 0 30px; } }
  .instagram__container {
    max-width: 93.5rem; }
  .instagram__row {
    justify-content: space-evenly; }
  .instagram__header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20rem;
    text-align: center;
    padding-bottom: .5rem;
    font-weight: 700;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.1);
    z-index: -1; }
    @media only screen and (max-width: 37.5em) {
      .instagram__header {
        top: 10%;
        font-size: 12rem; } }
  .instagram__follow {
    border: 1px solid transparent;
    background-color: #3897f0;
    border-radius: 4px;
    padding: 5px 9px;
    color: #fff;
    font-weight: bold;
    letter-spacing: .02rem;
    margin: auto 2rem;
    text-align: center; }
    .instagram__follow:hover {
      text-decoration: none;
      color: #fff; }
  .instagram__header--container {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .instagram__anchor {
    display: flex;
    justify-content: center;
    align-items: center; }
  .instagram__icon {
    height: 5rem;
    padding-left: 1rem;
    transition: all .5s ease-in-out; }
    .instagram__icon:hover {
      transform: rotateX(180deg); }
  .instagram__hr {
    border-top: 3px solid #000;
    padding-bottom: 0; }
  .instagram__photo--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .instagram__photo {
    height: 27rem;
    width: 27rem;
    margin: 10px 1px;
    overflow: hidden;
    background-color: #000; }
    .instagram__photo:hover .instagram__fetched {
      transform: scale(1.2);
      opacity: .3; }
    @media only screen and (max-width: 75em) {
      .instagram__photo {
        height: 200px;
        width: 200px; } }
    @media only screen and (max-width: 37.5em) {
      .instagram__photo {
        height: 150px;
        width: 150px; } }
  .instagram__fetched {
    height: 100%;
    transition: all .3s ease-in-out;
    width: 100%;
    object-fit: cover; }

.profile {
  padding: 5rem 0; }

.profile::after {
  content: "";
  display: block;
  clear: both; }

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem; }

.profile-image img {
  border-radius: 50%; }

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem); }

.profile-user-settings {
  margin-top: 1.1rem;
  display: flex;
  padding-bottom: 1.5rem; }

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300; }

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem; }

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem; }

.profile-stats {
  margin-top: 2.3rem;
  padding-bottom: 1.5rem; }

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer; }

.profile-stats li:last-of-type {
  margin-right: 0; }

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem; }

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600; }

/* Gallery Section */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem; }

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer; }

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.gallery-item-info {
  display: none; }

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600; }

.gallery-item-likes {
  margin-right: 2.2rem; }

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1); }

.fa-clone,
.fa-comment {
  transform: rotateY(180deg); }

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* Loader */
.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite; }

/* Media Query */
@media screen and (max-width: 37.5em) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0; }
  .profile::after {
    display: none; }
  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto; }
  .profile-image img {
    width: 7.7rem; }
  .profile-user-settings {
    flex-basis: calc(100% - 10.7rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem; }
  .profile-user-name {
    font-size: 2.2rem; }
  .profile-edit-btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem; }
  .profile-edit-btn {
    margin-left: 0; }
  .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem; }
  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
    flex-basis: 100%; }
  .profile-stats {
    order: 1;
    margin-top: 1.5rem; }
  .profile-stats ul {
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada; }
  .profile-stats li {
    font-size: 1.4rem;
    flex: 1;
    margin: 0; }
  .profile-stat-count {
    display: block; } }

/* Spinner Animation */
@keyframes loader {
  to {
    transform: rotate(360deg); } }

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/
@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center; }
  .profile-image {
    grid-row: 1 / -1; }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem; }
  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0; }
  @media (max-width: 37.5em) {
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem; }
    .profile-image {
      grid-row: 1 / 2; }
    .profile-user-settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem; }
    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
      grid-column: 1 / -1; }
    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
      margin: 0; } } }

.blog {
  padding: 16rem 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .blog {
      padding-top: 8rem; } }
  .blog__hr {
    padding-bottom: 3rem; }
  .blog a {
    text-decoration: none; }
  .blog .row {
    flex-direction: column; }
  .blog__header {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 29rem;
    margin-bottom: 1rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.1);
    z-index: -1; }
    @media only screen and (max-width: 37.5em) {
      .blog__header {
        top: 7%; } }
    .blog__header--text-main {
      text-align: center;
      margin: auto;
      font-size: 2.2rem; }
      @media only screen and (max-width: 75em) {
        .blog__header--text-main {
          padding-top: 7rem; } }
      @media only screen and (max-width: 37.5em) {
        .blog__header--text-main {
          padding-top: 14rem; } }
    .blog__header--text-sub {
      text-align: center;
      margin: auto;
      font-size: 1.6rem;
      font-weight: 100; }
      .blog__header--text-sub a {
        font-weight: 400;
        color: #e02b0f;
        transition: all .2s; }
        .blog__header--text-sub a:hover {
          color: #e02b0f; }
  .blog__slider {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap; }
  .blog__post {
    margin: 3rem 1rem;
    width: 23%;
    -webkit-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.4);
    transition: all .3s ease-in-out; }
    @media only screen and (max-width: 75em) {
      .blog__post {
        width: 44%; } }
    @media only screen and (max-width: 37.5em) {
      .blog__post {
        width: 100%; } }
    .blog__post:hover {
      transform: scale(1.03); }
  .blog__topImg {
    width: 100%;
    height: 350px;
    object-fit: cover; }
    @media only screen and (max-width: 37.5em) {
      .blog__topImg {
        height: 250px; } }
  .blog__content {
    padding: 2rem; }
  .blog__preview {
    font-size: 0.95rem;
    font-weight: 300; }
  .blog__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-top: 0;
    color: #000;
    padding-bottom: 1rem;
    text-align: center; }
  .blog__intro {
    line-height: 1.5;
    color: #666666; }
  .blog__info {
    font-weight: 300;
    color: #666666; }
  .blog__author {
    font-size: 0.9rem; }
  .blog__date {
    font-size: 0.85rem; }

.footer {
  background-color: #252525;
  padding: 5rem 0 2rem;
  color: #fff; }
  .footer__logo--container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .footer__logo {
    margin: 0 auto;
    height: 200px;
    -webkit-filter: invert(100);
    filter: invert(100); }
    .footer__logo:hover {
      cursor: pointer; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        height: 150px; } }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        height: 100px; } }
  .footer__tagline {
    text-align: center;
    font-style: italic; }
  .footer__contact--container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact--container {
        padding-top: 3rem; } }
  .footer__location--wrapper {
    display: flex;
    flex-direction: row; }
    @media only screen and (max-width: 37.5em) {
      .footer__location--wrapper {
        justify-content: center; } }
  .footer__icon {
    color: #e02b0f;
    font-size: 3rem; }
  .footer a {
    display: flex; }
  .footer a:hover {
    text-decoration: none;
    cursor: pointer; }
  .footer__text {
    margin: auto 0 auto 2rem;
    color: #fff;
    transition: all .3s; }
    .footer__text:hover {
      text-decoration: none;
      color: #e02b0f; }
  .footer__copyright--container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem; }
  .footer__copyright--text {
    color: #fff;
    font-size: 1.2rem; }

.contact {
  padding: 80px 0; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      padding: 40px 0; } }
  .contact .row {
    display: flex;
    flex-direction: column; }
  .contact .form-group {
    display: flex; }
  .contact .form-control {
    font-size: 1.2rem;
    letter-spacing: .1rem; }
  .contact .form-check {
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact .form-check {
        line-height: 2; } }
    .contact .form-check-label {
      margin-left: .5rem; }
  .contact .form-check:nth-child(2) {
    margin: 0 2rem;
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact .form-check:nth-child(2) {
        margin: 0 1rem;
        line-height: 2; } }
  .contact__hr {
    padding-bottom: 3rem; }
  .contact__header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 auto 1rem;
    text-align: center; }
  .contact__text {
    color: #666666;
    font-weight: 100;
    margin: 0 auto 2rem;
    text-align: center; }
  .contact__preference {
    margin: 0;
    font-size: 1.2rem;
    color: #666666; }
    @media only screen and (max-width: 37.5em) {
      .contact__preference {
        font-size: 8px;
        line-height: 2.4; } }
  .contact__icon {
    padding-right: 2rem;
    font-size: 4rem; }
  .contact__button {
    color: #fff;
    background: #e02b0f;
    border: 2px solid #e02b0f; }
    .contact__button:hover {
      color: #e02b0f;
      background: #fff; }
