// Colors
$color-body: #fff;
$color-white: #fff;
$color-black: #000;

$color-background-dark: rgb(37, 37, 37);

$color-primary-header: #000;
$color-primary-text: #666666;

$color-primary-blue: #e02b0f;
$color-secondary-blue: #1d414d;

// Font
$default-font-size: 1.6rem;