.art {
    padding: 10rem 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include respond(phone){
        padding: 30px 0;
    }

    &__button {
        margin-bottom: 5rem;
        background: $color-primary-blue;
        color: $color-white !important;
        border: 2px solid $color-primary-blue;

        &:hover {
            background: transparent;
            color: $color-black !important;
            border: 2px solid $color-black;
            text-decoration: none;
        }
    }

    &__title {
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 29rem;
        margin-bottom: 1rem;
        position: absolute;
        top: 17%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgba(0, 0, 0, 0.1);
        z-index: -1;

        @include respond(tab-land){
            top: 7%;
        }

        @include respond(phone){
            top: 17%;
            font-size: 24rem;
        }
    }

    &__hr {
        padding-bottom: 3rem;
    }

    &__subheader {
        font-family: inherit;
        font-weight: 400;
        color: $color-black;
        padding: 16rem 3rem 1.5rem;
        text-align: center;
        font-size: 2rem;

        @include respond(tab-land){
            padding-top: 15rem;
        }

        @include respond(phone){
            padding-top: 18rem;
        }
    }

    &__photo--wrapper {
        height: 45rem;
    }

    &__row {
        padding: 4px;
        justify-content: space-evenly;
        flex-wrap: wrap;

        &__container {
            width: 33%;
            padding: 4px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tab-port){
                width: 50%;
            }

            @include respond(phone){
                width: 100%;
            }
        }

        &__image {
            width: 100%;
            object-fit: cover;
            height: 41rem;
            padding-bottom: 2rem;
            opacity: 1;
            transition: all .5s ease;

            &:hover {
                cursor: pointer;
                opacity: .5;
            }
        }

        h4 {
            padding-top: 2rem;
        }

        &__text {
            font-size: 1.2rem;
            padding: 1rem 4rem;
            color: $color-primary-text;
        }

        &__button {
            border: 2px solid $color-black;
            color: $color-white;
            background: $color-black;
            margin-bottom: 6rem;

            &:hover {
                background: $color-primary-blue;
                border: 2px solid $color-primary-blue;
                text-decoration: none;
                color: $color-white;
            }
        }
    }
}
