// Desktop Nav
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    transition: all .5s ease-in-out;

    @include respond(tab-port){
        position: fixed;
        top: 0;
        background: white;
        height: 64px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    }

    @include respond(phone){
        height: 50px;
    }

    &__wrapper {
        display: flex;
        max-width: 1800px;
        padding-top: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;
        transition: all .5s ease-in-out;

        &__scrolled {
            padding-top: 0;
        }

        @include respond(tab-port){
            padding: 0 0 0 25px;
            height: 100%;
        }

        @include respond(phone){
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__logo-container {
        display: flex;
        text-align: left;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        align-items: center;
        flex: 1 1 auto;
        min-width: 0;
        max-width: 100%;
    }

    &__logo {
        height: 6rem;

        // Delete depending on initial logo color. If logo is white, keep filter.
        -webkit-filter: invert(100);
        filter: invert(100);

        &:hover {
            cursor: pointer;
        }

        &__scrolled {
            -webkit-filter: invert(0);
            filter: invert(0);
        }

        @include respond(tab-port){
            margin-bottom: 0;
        }

        @include respond(tab-land){
            -webkit-filter: none;
            filter: none;
        }
    }

    &__list {
        display: flex;
        text-align: right;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        flex: 1 1 auto;
        min-width: 0;
        max-width: 100%;

        @include respond(tab-port){
            display: none;
        }
    }

    &__button {
        font-size: 1.6rem;
        text-transform: uppercase;
        margin: 0 auto;
        border-radius: 25px;
        padding: 5px 24px;
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        letter-spacing: .08rem;
        transition: all .5s ease;
    }

    &__item {
        color: $color-white;
        padding: 1rem 2rem;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
        letter-spacing: .15rem;
        font-size: 1.6rem;
        margin-bottom: 0;
        line-height: 2.2;

        &:hover {
            text-decoration: none;
            color: $color-primary-blue;
            cursor: pointer;
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 3rem;

        &__icon {
            height: 2.5rem;
            padding: 0 1rem;
            fill: $color-white;
            transition: all .5s;

            &:hover {
                fill: $color-primary-blue;
            }
        }
    }

    &__nav-scrolled {
        background: $color-white;
        border-bottom: .5rem solid $color-black;

        @include respond(tab-port){
            border-bottom: none;
        }
    }

    &__links-scrolled {
        color: $color-black;
        fill: $color-black;
    }
}

.hamburger {
    background-color: transparent;
    height: 64px;
    width: 64px;
    float: right;
    margin-top: .5rem;
    margin-right: 1rem;
    position: fixed;
    top: .5rem;
    right: 0;
    z-index: 5;
    display: none;

    @include respond(tab-port){
        display: inline-block;
        margin-top: 0;
        top: 0;
    }

    @include respond(phone){
        margin: 0 1rem 0 0;
        width: 50px;
        height: 50px;
        top: 0;
    }

    &_btn {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background: transparent;
        border-radius: 50%;
        border: none;
        outline: none;
        -webkit-appearance: attachment;
        transition: margin .2s;

        @include respond(phone){
            width: 50px;
            height: 50px;
        }
    }

    &__span {
        position: absolute;
        width: 50px;
        height: 2px;
        top: 50%;
        left: 50%;
        background: white;
        border-radius: 2px;
        overflow: hidden;
        transition: all 0.3s linear;

        @include respond(tab-port){
            background: black;
            height: 1px;
        }

        @include respond(phone){
            height: 1px;
            width: 35px;
        }

        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            background: white;
            transition: all 0.3s linear;
        }

        &:nth-child(1){
            animation: span-first-off 0.5s ease-in-out;
            animation-fill-mode: forwards;
            top: 40%;
        }

        &:nth-child(2){
            animation: span-second-off 0.5s ease-in-out;
            animation-fill-mode: forwards;
            top: 49%;
        }

        &:nth-child(3){
            animation: span-third-off 0.5s ease-in-out;
            animation-fill-mode: forwards;
            top: 59%;
        }
    }

    &.on span:nth-child(1) {
        background: white;
        animation: span-first-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
        top: 50%;
    }

    &.on span:nth-child(2) {
        background: white;
        animation: span-second-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
        top: 50%;
    }
    
    &.on span:nth-child(3) {
        background: white;
        animation: span-third-on 0.5s ease-in-out;
        animation-fill-mode: forwards;
        top: 50%;
    }
}

.sidenav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: $color-primary-blue;
    padding: 50px 0;
    transform: translateX(100vw);
    transition: .5s;

    &__list {
        list-style-type: none;
        color: rgba(39, 39, 39, 0.753);
        letter-spacing: 0.2rem;
        margin: 0 0 0 2rem;
        padding: 0;
    }

    &__item {
        color: white;
        font-size: 4rem;
        padding-bottom: .5rem;
    }
}

.store-link-sidenav:hover {
    text-decoration: none;
    color: $color-white;
}

// Classes added and removed when sidenav is open/closed on mobile
.no-scroll {
    overflow: hidden;
}

.main-transform-x {
    transform: translateX(-100vw);
}

.sidenav-transform-x {
  transform: translateX(0);
}