.parallax {
    min-height: 450px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(phone){
        min-height: 350px;
    }

    &__text {
        font-size: 6rem;
        color: $color-white;
        text-align: center;
        margin: 0 auto;
        text-align: left;
    }
}